#tovabb
{
	position: relative;
	top: -39px;
	left: 580px;
	width: 120px;
	background-color: #ffa60099;
	color: white;
	margin: -35px;
	padding: 15px;
}

#tovabb:hover
{
	background-color: black;
}

#tartalom
{
	width: 600px;
	margin: auto;
	margin-top: 0;
}

table
{
	width: 500px;
}

td
{
	width: 75px;
	text-align: center;
}

p
{
	text-align: justify;
}

span.bold
{
	font-weight: bold;
}

a
{
	text-decoration: none;
}

h1
{
	border: 1px solid lightgray;
}